@import "./null.scss";

%steps_foto {
    width: 300px;
    height: 400px;
}

%stepborder {
    width: 70px;
    height: 20px;
    background: #FF4E50;
    border-radius: 40px;
}

%icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FF4E50;
}

@mixin foto ($w, $h) {
    width: $w;
    height: $h;
}

@mixin text ($h, $ff, $fs, $fw, $fz, $lh, $col) {
    height: $h;
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $col;
}

@mixin texx ($w, $h, $ff, $fs, $fw, $fz, $lh, $col, $l, $t) {
    width: $w;
    height: $h;
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $col;
    left: $l;
    top: $t;
}

@mixin tex1 ($w, $h, $l, $t) {
    width: $w;
    height: $h;
    left: $l;
    top: $t;
}

@mixin tex2 ($ff, $fs, $fw, $fz, $lh, $col) {
    font-family: $ff;
    font-style: $fs;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $col;
}



.wrapper {
    width: 1440px;
    height: 3451px;
    position: absolute;
    justify-content: center;
    align-items: center;

}

.header {
    width: 1440px;
    height: 700px;
    position: absolute;

    &_foto {
        @include foto(1440px, 700px);
    }

    &_logo {
        position: absolute;
        top: 46px;
        left: 248px;
        width: 152px;
        height: 24px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        word-spacing: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &_log {
        position: absolute;
        width: 44px;
        height: 17px;
        left: 996px;
        top: 50px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    &_log:hover {
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        width: 90px;
        height: 36px;
        padding-left: 20px;
        padding-top: 8px;
        margin: -10px;

    }

    &_sign {
        position: absolute;
        left: 1077px;
        top: 50px;
        width: 55px;
        height: 17px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }

    &_sign:hover {
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        width: 90px;
        height: 36px;
        padding-left: 15px;
        padding-bottom: 8px;
        margin: -10px;

    }

    &_text {
        width: 470px;
        height: 126px;
        position: absolute;
        left: 485px;
        top: 223px;
        justify-content: center;
        text-align: center;
    }

    &_title {
        width: 470px;
        height: 126px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 63px;
        text-align: center;
        color: #FFFFFF;
    }

    &_sub {
        position: absolute;
        left: 522px;
        top: 378px;
        height: 25px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #F7F3F2;
    }

    &_link {
        position: absolute;
        left: 483px;
        top: 436px;
        margin-left: 125px;
        width: 225px;
        height: 40px;
        background: #FF4E50;
        border-radius: 40px;
    }

    &_link_text {
        // width: 187px;
        padding-top: 10px;
        height: 17px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    }

}



.content {
    width: 100%;
    // position: relative;
    position: absolute;
    left: 0;
    top: 700px;
}

.dreamshare {
    // background-color: red;
    position: absolute;
    left: 250px;
    top: 96px;
    width: 940px;
    height: 461px;

    &_title {
        position: absolute;
        width: 342px;
        height: 32px;
        left: 299px;
        top: -6px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        // display: flex;
        // align-items: flex-end;
        text-align: center;
        color: #444444;
    }

    &_foto {
        display: flex;
    }

    &_1 {
        position: absolute;
        width: 300px;
        height: 400px;
        left: 0px;
        top: 62px;
    }

    &_step1 {
        @extend %stepborder;
        position: absolute;
        left: 25px;
        top: 219px;
    }

    &_stext1 {
        @include text(12px, 'Montserrat', normal, 400, 10px, 12px, #FFFFFF);
        text-align: center;
        padding-top: 4px;
        letter-spacing: 2px;
    }

    &_stext12 {
        position: absolute;
        @include texx(250px, 58px, 'Montserrat', normal, 700, 24px, 26px, #FFFFFF, 25px, 258px);
    }

    &_stext13 {
        position: absolute;
        @include texx(250px, 57px, 'Roboto', normal, 300, 14px, 14px, #E3E3E3, 25px, 334px);
    }

    &_2 {
        position: absolute;
        width: 300px;
        height: 400px;
        left: 320px;
        top: 61px;
    }

    &_step2 {
        @extend %stepborder;
        position: absolute;
        left: 25px;
        top: 250px;
    }

    &_stext2 {
        @include text (12px, 'Montserrat', normal, 400, 10px, 12px, #FFFFFF);
        position: absolute;
        left: 12px;
        top: 4px;
        letter-spacing: 2px;
    }

    &_stext22 {
        @include text (29px, 'Montserrat', normal, 700, 24px, 14px, #FFFFFF);
        position: absolute;
        width: 250px;
        left: 25px;
        top: 297px;
    }

    &_stext23 {
        @include text (57px, 'Roboto', normal, 300, 14px, 14px, #E3E3E3);
        position: absolute;
        width: 250px;
        left: 25px;
        top: 335px;
    }

    &_3 {
        position: absolute;
        width: 300px;
        height: 400px;
        left: 640px;
        top: 61px;
    }

    &_step3 {
        @extend %stepborder;
        position: absolute;
        left: 25px;
        top: 219px;
    }

    &_stext3 {
        @include text (12px, 'Montserrat', normal, 400, 10px, 12px, #FFFFFF);
        position: absolute;
        left: 12px;
        top: 4px;
        letter-spacing: 2px;
    }

    &_stext31 {
        @include text (58px, 'Montserrat', normal, 700, 24px, 26px, #FFFFFF);
        position: absolute;
        width: 250px;
        left: 25px;
        top: 258px;
    }

    &_stext32 {
        @include text (57px, 'Roboto', normal, 300, 14px, 14px, #E3E3E3);
        position: absolute;
        width: 250px;
        left: 25px;
        top: 335px;
    }

}

.meets {
    position: absolute;
    width: 941px;
    height: 361px;
    left: 250px;
    top: 652px;

    &_title {
        @include text (32px, 'Montserrat', normal, 700, 26px, 32px, #444444);
        position: absolute;
        width: 491px;
        left: 226px;
        top: -6px;
        text-align: center;

    }

    &_column {
        display: flex;
        flex-direction: column;
    }

    &_person1 {
        position: absolute;
        width: 221px;
        height: 205px;
        left: 0px;
        top: 61px;
    }

    &_ava1 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 51px;
        top: 0px;
    }

    &_avatar1 {
        border-radius: 50%;
    }

    &_icon1 {
        position: absolute;
        width: 36px;
        height: 36px;
        left: 87px;
        top: 86px;
        border-radius: 50%;
        background: #FF4E50;
        border: 3px solid white;
    }

    &_music {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 6px;
        top: 7px;
        fill: #FFFFFF;
    }

    &_avatarname1 {
        @include text (58px, 'Montserrat', normal, 700, 14px, 17px, #444444);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 137px;
        text-align: center;
    }


    &_avatarstory1 {
        @include text (38px, 'Roboto', normal, 300, 14px, 14px, #666666);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 167px;
        text-align: center;
        color: #666666;
    }

    &_person2 {
        position: absolute;
        width: 221px;
        height: 205px;
        left: 240px;
        top: 61px;
    }

    &_ava2 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 51px;
        top: 0px;
    }

    &_avatar2 {
        border-radius: 50%;
    }

    &_icon2 {
        position: absolute;
        width: 36px;
        height: 36px;
        left: 87px;
        top: 86px;
        border-radius: 50%;
        background: #19D4CA;
        border: 3px solid white;
    }

    &_brush {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 8px;
        top: 7px;
        fill: white;
    }

    &_avatarname2 {
        @include text (12px, 'Montserrat', normal, 700, 14px, 17px, #444444);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 137px;
        text-align: center;
    }


    &_avatarstory2 {
        @include text (38px, 'Roboto', normal, 300, 14px, 14px, #666666);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 167px;
        text-align: center;
        color: #666666;
    }


    &_person3 {
        position: absolute;
        width: 221px;
        height: 224px;
        left: 480px;
        top: 61px;
    }

    &_ava3 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 51px;
        top: 0px;
    }

    &_avatar3 {
        border-radius: 50%;
    }

    &_icon3 {
        position: absolute;
        width: 36px;
        height: 36px;
        left: 87px;
        top: 86px;
        border-radius: 50%;
        background: #FFA710;
        border: 3px solid white;
    }

    &_camera {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 8px;
        top: 7px;
        fill: #FFFFFF;
    }

    &_avatarname3 {
        @include text (12px, 'Montserrat', normal, 700, 14px, 17px, #444444);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 137px;
        text-align: center;
    }


    &_avatarstory3 {
        @include text (57px, 'Roboto', normal, 300, 14px, 14px, #666666);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 167px;
        text-align: center;
        color: #666666;
    }

    &_person4 {
        position: absolute;
        width: 221px;
        height: 224px;
        left: 720px;
        top: 61px;
    }

    &_ava4 {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 51px;
        top: 0px;
    }

    &_avatar4 {
        border-radius: 50%;
    }

    &_icon4 {
        position: absolute;
        width: 38px;
        height: 38px;
        left: 87px;
        top: 86px;
        border-radius: 50%;
        background: #667DF3;
        border: 4px solid white;
    }

    &_plane {
        position: absolute;
        width: 16px;
        height: 16px;
        left: 8px;
        top: 7px;
        fill: #FFFFFF;
        transform: rotate(60deg)
    }

    &_avatarname4 {
        @include text (12px, 'Montserrat', normal, 700, 14px, 17px, #444444);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 137px;
        text-align: center;
    }


    &_avatarstory4 {
        @include text (57px, 'Roboto', normal, 300, 14px, 14px, #666666);
        position: absolute;
        width: 221px;
        left: 0px;
        top: 167px;
        text-align: center;
    }

    &_partners {
        position: absolute;
        width: 180px;
        height: 40px;
        left: 381px;
        top: 321px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
    }

    &_link {
        position: absolute;
        width: 137px;
        height: 17px;
        left: 24px;
        top: 12px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FF4E50;
    }
}

.discover {
    position: absolute;
    width: 940px;
    height: 1031px;
    left: 249px;
    top: 1109px;

    &_title {
        position: absolute;
        width: 413px;
        left: 264px;
        top: -6px;
        height: 32px;
    }

    &_title_text {
        @include text (32px, 'Montserrat', normal, 700, 26px, 32px, #444444);
        text-align: center;
    }

    &_sport {
        width: 300px;
        height: 310px;
        position: absolute;
        left: 0px;
        top: 61px;
    }

    &_text1 {
        @include texx(209px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 46px, 142px);
        position: absolute;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &_wellnes {
        width: 300px;
        height: 310px;
        position: absolute;
        left: 320px;
        top: 61px;
    }

    &_text2 {
        @include texx(238px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 31px, 142px);
        position: absolute;
    }


    &_extreme {
        width: 300px;
        height: 310px;
        position: absolute;
        left: 640px;
        top: 61px;
    }

    &_text3 {
        @include texx(187px, 54px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 57px, 128px);
        position: absolute;
    }


    &_games {
        width: 300px;
        height: 310px;
        position: absolute;
        left: 0px;
        top: 391px;
    }

    &_text4 {
        @include texx(80px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 110px, 142px);
        position: absolute;
        text-align: center;
    }

    &_culture {
        width: 620px;
        height: 310px;
        position: absolute;
        left: 320px;
        top: 391px;

    }

    &_text5 {
        @include texx(261px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 180px, 142px);
        position: absolute;
    }

    &_enjomet {
        width: 620px;
        height: 310px;
        position: absolute;
        left: 0px;
        top: 721px;
    }

    &_text6 {
        @include texx(277px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 172px, 142px);
        position: absolute;
    }

    &_travel {
        width: 300px;
        height: 310px;
        position: absolute;
        left: 640px;
        top: 721px;
    }

    &_text7 {
        @include texx(114px, 27px, 'Montserrat', normal, 700, 22px, 27px, #FFFFFF, 92.5px, 142px);
        position: absolute;
    }
}

.email {
    position: absolute;
    width: 482px;
    height: 158px;
    left: 478px;
    top: 2234px;

    &_title1 {
        @include texx(357px, 32px, 'Montserrat', normal, 700, 26px, 32px, #444444, 63.5px, -6px);
        position: absolute;
        left: 62.5px;
        top: -6px;
    }


    &_subtitle {
        @include tex1(415px, 24px, 35px, 69px);
        position: absolute;
    }

    &_subtitle_text {
        @include tex2('Roboto', normal, 300, 18px, 14px, #666666);
        position: absolute;
        top: 10px;
        left: 70px;
        // text-align: center;
    }

    &_active {
        position: absolute;
        @include tex1(482px, 40px, 0px, 118px);
        display: flex;
    }

    &_enter {
        position: absolute;
        @include tex1(299px, 40px, 0px, 0px);
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        padding-left: 14.62px;
    }

    &_search {
        position: absolute;
        @include tex1(172px, 40px, 309px, 0px);
        background: #FF4E50;
        border-radius: 40px;
    }

    &_search_text {
        @include texx(117px, 17px, 'Montserrat', normal, 700, 14px, 17px, #FFFFFF, 30px, 12px);
        position: absolute;
    }
}


footer {
    position: absolute;
    @include tex1(1440px, 224px, 0px, 3191px);
    // background-color: black; 
    border-top: 3px solid red;
}

.bot {
    width: 100%;
    height: 100%;

    &_dream {
        @include tex1(119px, 20px, 249px, 38px);
        position: absolute;
    }

    &_dream1 {
        @include tex2('Montserrat', normal, 400, 16px, 20px, #FF4E50);
        font-family: 'Montserrat';
    }

    &_company {
        @include tex1(160px, 200px, 490px, 40px);
        position: absolute;
    }

    &_company2 {
        @include tex2('Montserrat', normal, 700, 14px, 17px, #444444)
    }

    &_company3 {
        @include texx(114px, 156px, 'Roboto',normal , 300, 14px, 26px, #999999, 0px,25px );
        position: absolute;
    }

    &_partneru {
        @include tex1(64px, 17px, 729px, 40px);
        position: absolute;
    }

    &_partneru3 {
        @include tex2('Montserrat', normal, 700, 14px, 17px, #444444);
    }

    &_logo_name {
        @include texx(83px, 12px, 'Montserrat', normal, 700, 10px, 12px, #CCCCCC, 1110px, 40px);
        position: absolute;
    }

    &_logo {
        @include tex1(110px, 24px, 1080px, 59px);
        position: absolute;
    }
}



// @include text (58px, 'Montserrat', normal, 700, 24px, 26px, #FFFFFF);
// @mixin text ($w, $h, $fz, $ff, $fs, $lh, $col) {
//     width: $w;
//     height: $h;
//     font-size: $fz;
//     font-family: $ff;
//     font-style: $fs;
//     line-height: $lh;
//     color: $col;
// 